<html>
    <head>
        <title>Take a break</title>
    </head>
            <h1>Take a break</h1>
            <h2>Get ready to get stuff done.</h2>
    <body>
        <p>When you’re really in the groove of a task or project, the ideas are flowing and you feel great. But it doesn’t last forever—stretch yourself just a bit beyond that productivity zone and you might feel unfocused, zoned out or even irritable. What changes? Basically, the human brain just wasn’t built for the extended focus we ask of it these days. Our brains are vigilant all the time because they evolved to detect tons of different changes to ensure our very survival.  So focusing so hard on one thing for a long time isn’t something we’re ever going to be great at (at least for a few centuries).</p>

        <p>The good news is that the fix for this unfocused condition is simple—all we need is a brief interruption (aka a break) to get back on track. University of Illinois psychology professor Alejandro Lleras explains:</p>

        <p>“…Deactivating and reactivating your goals allows you to stay focused,” he said. “From a practical standpoint, our research suggests that, when faced with long tasks (such as studying before a final exam or doing your taxes), it is best to impose brief breaks on yourself. Brief mental breaks will actually help you stay focused on your task!”</p>

    </body>
</html>
